		<div class="g-home">
			<div class="m-slider">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 introduce"></div>
						<div class="col-lg-4 nav">
							<div class="row">
								<div class="col-xs-3 col-lg-6">
									<img src="css/img1.jpg" class="img-responsive center-block img-circle" alt="">
								</div>
								<div class="col-xs-3 col-lg-6">
									<img src="css/img1.jpg" class="img-responsive center-block img-circle" alt="">
								</div>
								<div class="col-xs-3 col-lg-6">
									<img src="css/img1.jpg" class="img-responsive center-block img-circle" alt="">
								</div>
								<div class="col-xs-3 col-lg-6">
									<img src="css/img1.jpg" class="img-responsive center-block img-circle" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>